// colors
$main-bg: #01010f;
$text-color: #9a9898;
$btn-bg: #f5eb55;
$white: #fff;
$info-bg: #262e37;


// family
$heading-familt: 'Prata', serif;
$body-family: 'Inter', sans-serif;

// breakpoint
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';